body {background-color:black;}
h2{color:grey;
    text-align:center;}
.maindiv{background-color:white;
         color:black;
         width:300px;
         padding:15px;
         margin:auto;
         border-radius:25px}
